html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

html, body {
    overflow: visible;
}

.main-style{
    margin: 0 200px 0 200px;
}

.breadcrumb li {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.breadcrumb li a{
    text-decoration: none;
    color: #000000;
}

.basket-content{
    display: flex;
    justify-content: space-between;
}

.title{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #414141;
    font-size: 48px;
    width: 220px;
    margin-bottom: 60px;
}

.product{
    display: flex;
    border: solid;
    border-radius: 8px;
    border-color: #E8E8E8;
    border-width: 1px;
    padding: 20px;
    margin-bottom: 60px;
    width: 1120px;
    justify-content: space-between;
}

.product img{
    width: 155px;
    height: 170px;
    border-radius: 4px;
}

.product-information{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;   
}

.product-information h1{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;   
}

.product-information h5{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;   
    margin-top: 24px;
}

.product-another-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

.product-actions{
    display: flex;  
    justify-content: end;
    gap: 20px;
}

.product-inc{
    display: flex;
    gap: 11px;
}

.product-inc h4{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.product-inc a img{
    width: 26px;
    height: 26px;
}

.product-actions img{
    width: 24px;
    height: 24px;
}

.basket-products-info{
    width: 270px;
}

.basket-products-info h1{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}

.basket-products-info ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.basket-products-info button{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #DCDCDC;
    margin-top: 25px;
    width: 270px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    border-color: #DCDCDC;
}

.basket-products-info button:hover{
    border: solid;
    border-color: #DCDCDC;
    background-color: #FFFFFF;
    border-width: 1px;
}

.exit-data{
    display: flex;
    justify-content: space-between;
    color: #8F8F8F;
    font-family: "Montserrat", sans-serif;
}

.exit-data  h5{
    font-size: 20px;
}