html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

html, body {
    overflow: visible;
}

.main-style{
    margin: 0 200px 0 200px;
}

.main-info{
    display: flex;
    justify-content: space-between;
}

.left-info-panel{
    margin-top: 70px;
}

.left-info-panel h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    line-height: 1.3;
}

.left-info-panel mark{
    font-family: "Bad Script", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    background: none;
    line-height: 1.76;
    padding: 0;
}

.left-info-panel p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    color: #7D7D7D;
}

.left-info-panel-buttons {
    display: flex;
    margin-top: 60px;
}

.left-info-panel-buttons button {
    border: none;
    background-color: #735CFF;
    border-radius: 8px;
    width: 185px;
    height: 60px;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.left-info-panel-buttons button img {
    padding-right: 13px;
    transition: all 0.3s ease-in-out;
}

.left-info-panel-buttons button:first-child:hover {
    background-color: #FFFFFF;
    color: #735CFF;
    border: 1px solid #735CFF;
}

.left-info-panel-buttons button:nth-child(2) {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.left-info-panel-buttons button:nth-child(2):hover {
    background-color: black;
    color: white;
}

.left-info-panel-buttons button:first-child:hover img {
    content: url("../img/main-img/shopping-bag-rev.png"); 
}

.left-info-panel-buttons button:nth-child(2) img {
    transition: 0.3s;
}

.left-info-panel-buttons button:nth-child(2):hover img {
    content: url("../img/main-img/next-btn-rev.png");
}

.image-container {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    margin-top: 119px;
}

.image-large {
    width: 75%;
    border-radius: 20px;
}

.image-small {
    width: 75%;
    border-radius: 20px;
    margin-top: 128px; 
}

.new-info{
    margin-top: 100px;
}

.new-info-header{
    font-family: "Noto Sans", sans-serif;
}

.new-info-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-info-title a{
    transition: all 0.3s ease-in-out;
}

.new-info-title a:hover{
    color: #735CFF;
}

.new-info-title h1 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}

.new-info-title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #141414;
    font-size: 16px;
    font-weight: 600;
}

.some-box{
    width: 9px;
    height: 45px;
    background-color: #735CFF;
    margin-right: 15px;
}

.new-info-header p{
    font-size: 16px;
    margin-left: 24px;
}

.new-main-info {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.new-catalog-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.category-info{
    margin-top: 150px;
    margin-bottom: 100px;
}

.category-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.c-card{
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.c-card a{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.c-card:hover{
    scale: 103%;
}

.about-us-main-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.about-us-main-content p {
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: 1.6;
    width: 565px;
    margin-top: 50px;
}

.about-us-img{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    gap: 30px;
}