<footer class="footer-style" id="footer">
    <ul class="footer-main">
        <ul style="padding-left: 0;">
            <li style="font-weight: 600;">ИНФОРМАЦИЯ</li>
            <li style="margin-top: 30px"><a href="/#about-us">О нас</a></li>
            <li><a href="/swap">Условия оплаты и доставки</a></li>
            <li><a href="/politika">Политика конфиденциальности</a></li>
        </ul>
        <ul>
            <li style="font-weight: 600;">СЛУЖБА ПОДДЕРЖКИ</li>
            <li style="margin-top: 30px"><a href="#">Контактная информация</a></li>
        </ul>
        <ul>
            <li style="font-weight: 600;">ЛИЧНЫЙ КАБИНЕТ</li>
            <li><a href="/templates/user_orders.html">История заказов</a></li>
        </ul>
        <ul>
            <li style="font-weight: 600;"> КОНТАКТЫ</li>
            <li style="display: flex; margin-top: 30px; gap: 20px">
                <a href="#"><img style="width: 41.77px; height: 43.21px;" src="/static/img/footer-img/instagram.png" alt=""></a>
                <a href="#"><img src="/static/img/footer-img/whatsapp.png" alt=""></a>
                <a href="#"><img src="/static/img/footer-img/tg.png" alt=""></a>
            </li>
        </ul>
    </ul>
    <hr style="color:#FFFFFF; margin: 0 200px;">
    <div class="another-info">
        <p>Все материалы, размещенные на сайте, носят справочный характер и не являются<br>
            публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации. </p>
        <p>Интернет-магазин www.fear.ru ©</p>
    </div>
</footer>