<header class="header-style">
    <h1>TEXT LOGO | LOGO</h1>
    <ul class="header-navigation-text-style">
        <li><a href="/" class="smooth-scroll">Главная</a></li>
        <li><a href="/#about-us" class="smooth-scroll">О нас</a></li>
        <li><a href="/catalog">Каталог</a></li>
        <li><a href="/#footer">Контакты</a></li>
        <li style="padding-left: 95px;">
            <div id="loginButtonWrapper">
                <button class="entrance-style-btn" onclick="openModal()">Вход</button>
            </div>
            <div id="accountSection" style="display: none;">
                <div class="account-container">
                    <div class="account-icon-wrapper" onclick="toggleAccountMenu()">
                        <div class="rotated-bg"></div>
                        <div class="account-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24">
                            <path d="M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z"/>
                          </svg>
                        </div>
                      </div>
                      
                      <div class="account-menu" style="position: absolute; right: -80px;">
                        <div class="menu-item" onclick="setActive(this); window.location.href='/favourite'">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px; margin-right: 8px;">
                            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" />
                          </svg>
                          Избранное
                        </div>

                        <div class="menu-item" onclick="setActive(this); window.location.href='/basket'">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px; margin-right: 8px;">
                            <path d="M3 3h2l.4 2M7 13h10l4-8H5.4" />
                            <circle cx="7" cy="21" r="1" />
                            <circle cx="17" cy="21" r="1" />
                          </svg>
                          Корзина
                        </div>

                        <div class="menu-item" onclick="setActive(this); window.location.href='/user_order'">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px; margin-right: 8px;">
                            <path d="M3 3h18v18H3V3z" />
                            <path d="M8 12h8" />
                            <path d="M8 16h8" />
                            <path d="M8 8h8" />
                          </svg>
                          История заказов
                        </div>

                        <div class="menu-item" onclick="setActive(this); openResetPasswordModal();">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px; margin-right: 8px;">
                            <path d="M12 11c0-1.1-.9-2-2-2s-2 .9-2 2" />
                            <path d="M12 17v1" />
                            <path d="M18 12h-6" />
                            <path d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                          Сброс пароля
                        </div>

                        <div class="menu-item" onclick="logout()">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 20px; height: 20px; margin-right: 8px;">
                            <path d="M17 16l4-4m0 0l-4-4m4 4H7" />
                            <path d="M7 16v1a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h.01a2 2 0 012 2v1" />
                          </svg>
                          Выйти
                        </div>                    
                      </div>                  
                  </div>
                </div>
            </div>
        </li>
    </ul>
</header>
{{> includes/reset_password.html}}
<script src="/static/js/header.js"></script>