<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="../img/card-img/notification-icon.png" class="rounded me-2" alt="...">
        <strong class="me-auto">Оповещение</strong>
        <small>Только что</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
      </div>
      <div class="toast-body">
        Сообщение
      </div>
    </div>
</div>
  