<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main-style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Fear</title>
</head>
<body>
    {{> includes/header.html}}
    {{> includes/modal.html}}
    <main class="main-style">
        <div class="main-info">
            <div class="left-info-panel" id="main-info">
                <h1>Добро<br>пожаловать в <br><mark>Fear</mark></h1>
                <p>Экономим Ваше время!<br>
                    Предлагаем лучшие цены!<br>
                    Доставляем в кратчайшие сроки!</p>
                <div class="left-info-panel-buttons">
                        <button onclick="window.location.href='/catalog'">
                            <img src="/static/img/main-img/shopping-bag.png" alt="Каталог">
                            Каталог
                        </button>
                        <button style="margin-left: 24px;" onclick="window.location.href='#new'">
                            <img src="/static/img/main-img/next-btn.png" alt="Далее">
                            Далее
                        </button>
                </div>            
            </div>
            <div class="image-container">
                <img class="image-large" src="/static/img/main-img/main-img.png" alt="Image 1">
                <img class="image-small" src="/static/img/main-img/main-img-1.png" alt="Image 2">
            </div>
        </div>
        <div class="new-info" id="new">
            <div class="new-info-header">
                <div class="new-info-title">
                    <div style="display: flex; align-items: center;">
                        <span class="some-box"></span>
                        <h1>Новинки</h1>
                    </div>
                    <a href="/catalog">Перейти в каталог <img style="margin-left: 10px;"src="/static/img/main-img/stroke.png" alt=""></a>
                </div>
                <p>Не упустите новые тренды и эксклюзивные предложения.</p>
            </div>
            <div class="new-main-info">
                <img src="/static/img/main-img/new-main-image.png" alt="">
                <div class="new-catalog-cards" id="new-catalog-cards">                   
                </div>
            </div>
        </div>
        <div class="category-info">
            <div class="new-info-header">
                <div class="new-info-title">
                    <div style="display: flex; align-items: center;">
                        <span class="some-box"></span>
                        <h1>Категории</h1>
                    </div>
                    <a href="/catalog">Перейти в каталог <img style="margin-left: 10px;"src="/static/img/main-img/stroke.png" alt=""></a>
                </div>
                <p>Найдите нужный товар быстрее — выберите интересующую категорию.</p>
            </div>
            <div class="category-cards">
                <div class="c-card">
                    <a href="/catalog" data-category="outerwear"><img src="https://i.pinimg.com/736x/22/68/fc/2268fc25de501e21b0e09925ed2a6803.jpg    " alt=""><br>Верхняя одежда</a>
                </div>
                <div class="c-card">
                    <a href="/catalog" data-category="men"><img src="https://i.pinimg.com/736x/43/ed/1c/43ed1c0d9eba1bc96431f44c68a22407.jpg" alt=""><br>Мужская одежда</a>
                </div>
                <div class="c-card">
                    <a href="/catalog" data-category="women"><img src="/static/img/main-img/category-avatar.png" alt=""><br>Женская одежда</a>
                </div>
                <div class="c-card">
                    <a href="/catalog" data-category="kids"><img src="https://i.pinimg.com/736x/01/34/45/013445b747cca3e398667ef3acec6c43.jpg" alt=""><br>Детская одежда</a>
                </div>
                <div class="c-card" data-category="trendy">
                    <a href="/catalog"><img src="https://i.pinimg.com/736x/a1/91/fa/a191fa319d13f420d949914557011745.jpg" alt=""><br>Трендовая одежда</a>
                </div>
            </div>
        </div>
        <div class="about-us-info" id="about-us">
            <div class="new-info-header">
                <div class="new-info-title">
                    <div style="display: flex; align-items: center;">
                        <span class="some-box"></span>
                        <h1>О нас</h1>
                    </div>
                </div>
                <p>Добро пожаловать в Fear — ваш идеальный гид в мире стиля и комфорта!</p>
            </div>
            <div class="about-us-main-content">
                <p>Добро пожаловать в Fear — ваш идеальный гид в мире стиля и комфорта!

                Мы создаем одежду, которая вдохновляет, подчеркивает индивидуальность и дарит уверенность в каждом дне. Наши коллекции — это гармония модных трендов, высокого качества и внимания к деталям.

                Почему выбирают нас?
                    <br>
                <br>Уникальный дизайн: Каждая вещь продумана до мелочей, чтобы вы чувствовали себя особенными.
                    <br>
                <br>Качество материалов: Мы используем только натуральные и экологичные ткани для вашего комфорта.
                    <br>
                <br>Доступность: Модная одежда должна быть доступной — мы предлагаем разумные цены без компромиссов в качестве.
                    <br>
                <br>Клиентоориентированность: Ваш комфорт — наш приоритет. Мы всегда готовы помочь с выбором и ответить на любые вопросы.
                    <br>
                <br>Fear — это не просто одежда, это стиль жизни. Присоединяйтесь к нам и создавайте свой неповторимый образ!
                </p>
                <div class="about-us-img">
                    <img style="width: 416px; height: 411px; object-fit: cover; border-radius: 15px;"  src="https://i.pinimg.com/736x/74/a9/29/74a929c239271bddf8156801e94a2e4c.jpg" alt="">
                    <img style="margin-top: 60px; width: 416px; height: 411px; object-fit: cover; border-radius: 15px;" src="https://i.pinimg.com/736x/4d/e2/7f/4de27f5c5c94cf6b2281ba0212f3f7ed.jpg" alt="">
                </div>
            </div>
        </div>
        {{> includes/toaster.html}}
    </main>
    {{> includes/footer.html}}
    <script src="../static/js/main.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>