<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main-style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Fear</title>
</head>
<body>
    {{> includes/header.html}}
    <main class="main-style">
        <div class="main-info">
            <div class="left-info-panel" id="main-info">
                <h1>Добро<br>пожаловать в <br><mark>Fear</mark></h1>
                <p>Экономим Ваше время!<br>
                    Предлагаем лучшие цены!<br>
                    Доставляем в кратчайшие сроки!</p>
                <div class="left-info-panel-buttons">
                        <button onclick="window.location.href='/catalog'">
                            <img src="/static/img/main-img/shopping-bag.png" alt="Каталог">
                            Каталог
                        </button>
                        <button style="margin-left: 24px;" onclick="window.location.href='#new'">
                            <img src="/static/img/main-img/next-btn.png" alt="Далее">
                            Далее
                        </button>
                </div>            
            </div>
            <div class="image-container">
                <img class="image-large" src="/static/img/main-img/main-img.png" alt="Image 1">
                <img class="image-small" src="/static/img/main-img/main-img-1.png" alt="Image 2">
            </div>
        </div>
        <div class="new-info" id="new">
            <div class="new-info-header">
                <div class="new-info-title">
                    <div style="display: flex; align-items: center;">
                        <span class="some-box"></span>
                        <h1>Новинки</h1>
                    </div>
                    <a href="/catalog">Перейти в каталог <img style="margin-left: 10px;"src="/static/img/main-img/stroke.png" alt=""></a>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="new-main-info">
                <img src="/static/img/main-img/new-main-image.png" alt="">
                <div class="new-catalog-cards">                    
                    {{> includes/card.html}}
                    {{> includes/card.html}}
                    {{> includes/card.html}}
                    {{> includes/card.html}}
                    {{> includes/card.html}}
                    {{> includes/card.html}}
                </div>
            </div>
        </div>
        <div class="category-info">
            <div class="new-info-header">
                <div class="new-info-title">
                    <div style="display: flex; align-items: center;">
                        <span class="some-box"></span>
                        <h1>Категории</h1>
                    </div>
                    <a href="/catalog">Перейти в каталог <img style="margin-left: 10px;"src="/static/img/main-img/stroke.png" alt=""></a>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="category-cards">
                <div class="c-card">
                    <a href="/catalog"><img src="/static/img/main-img/category-avatar.png" alt=""><br>Женское</a>
                </div>
                <div class="c-card">
                    <a href="/catalog"><img src="/static/img/main-img/category-avatar.png" alt=""><br>Женское</a>
                </div>
                <div class="c-card">
                    <a href="/catalog"><img src="/static/img/main-img/category-avatar.png" alt=""><br>Женское</a>
                </div>
                <div class="c-card">
                    <a href="/catalog"><img src="/static/img/main-img/category-avatar.png" alt=""><br>Женское</a>
                </div>
                <div class="c-card">
                    <a href="/catalog"><img src="/static/img/main-img/category-avatar.png" alt=""><br>Женское</a>
                </div>
            </div>
        </div>
        <div class="about-us-info" id="about-us">
            <div class="new-info-header">
                <div class="new-info-title">
                    <div style="display: flex; align-items: center;">
                        <span class="some-box"></span>
                        <h1>О нас</h1>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="about-us-main-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan volutpat tristique metus, nibh massa quam iaculis lectus. A dui nam phasellus porttitor nisi. Eget a quam est, eget dictum nisi. Sit donec aenean vivamus sagittis, blandit. Eleifend bibendum aliquet orci risus, velit. Lectus tellus amet
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan volutpat tristique metus, nibh massa quam iaculis lectus. A dui nam phasellus porttitor nisi. Eget a quam est, eget dictum nisi. Sit donec aenean vivamus sagittis, blandit. Eleifend bibendum aliquet orci risus, velit. Lectus tellus amet
                </p>
                <div class="about-us-img">
                    <img style="width: 416px; height: 411px;" src="/static/img/main-img/about-us-img.png" alt="">
                    <img style="margin-top: 60px; width: 416px; height: 411px;" src="/static/img/main-img/about-us-img-1.png" alt="">
                </div>
            </div>
        </div>
    </main>
    {{> includes/footer.html}}
    <script src="../static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>